fastapi
uvicorn
opencv-python-headless
numpy
ultralytics
scipy
torch
torchvision
torchaudio
pydantic
jinja2
huggingface_hub
Pillow
requests
face_recognition
deepface
tf-keras
python-multipart
imgaug
albumentations
scikit-image